<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
">


    <!--引入Mybatis配置文件-->
    <import resource="classpath:Spring-Mybatis.xml"/>


    <!--开启注解支持-->
    <context:annotation-config/>
    <!--扫描注解-->
    <context:component-scan base-package="dao"/>
    <context:component-scan base-package="pojo"/>
    <!--开启AOP注解支持-->
    <aop:aspectj-autoproxy/>

    <bean id="userMapperExtends" class="dao.UserMapperImplExtends">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>

</beans>
